*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #111;
}

section{
    display: flex;
    flex-direction: column;
    overflow: hidden;

    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #111;
}

section .row{
    display: flex;

    position: relative;
    top: -50%;
    left: -6%;
    width: 100%;
    padding: 5px 0;
    white-space: nowrap;
    font-size: 75px;
    transform: rotate(-30deg);
}

i{
    color: rbga(0,0,0,0.5);
    transition: 1s;
    padding: 0 10px;
    user-select: none;
    cursor: default;
}

i:hover{
    transition: 0s;
    color: #0f0;
    text-shadow: 0 0 120px #0f0;
}

section .row div:nth-of-type(1){
    animation: animate1 20s linear infinite;
    animation-delay: -20s;
}

section .row div:nth-of-type(2){
    animation: animate2 20s linear infinite;
    animation-delay: -10s;
}


@keyframes animate1 {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes animate2 {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-200%);
    }
}

section .row:nth-child(even) div:nth-of-type(1){
    animation: animate3 20s linear infinite;
    animation-delay: -20s;
}

section .row:nth-child(even) div:nth-of-type(2){
    animation: animate4 20s linear infinite;
    animation-delay: -10s;
}


@keyframes animate3 {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

@keyframes animate4 {
    0% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(0%);
    }
}